In [ ]:
pip install -U googlemaps

In [ ]:
import csv
import pandas as pd
import googlemaps

In [ ]:
data = pd.read_csv('Station_List.csv',encoding="ISO-8859-1")
df = data.copy()
df.head()

,ï»¿Sequence,State,City,Address
0,1,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati"
1,2,Andhra_Pradesh,Rajamahendravaram,"Anand Kala Kshetram, Rajamahendravaram"
2,3,Andhra_Pradesh,Tirupati,"Tirumala, Tirupati"
3,4,Andhra_Pradesh,Vijayawada,"PWD Grounds, Vijayawada"
4,5,Andhra_Pradesh,Visakhapatnam,"GVM Corporation, Visakhapatnam"

In [ ]:
df = df[['Address']]
df = df.drop_duplicates()

In [ ]:
gmaps_key = googlemaps.Client(key="AIzaSyAQgM5sCL_8FG0r6au3c7LhS7dQzCEplYQ")

In [ ]:
add_1 = df['Address'][190]
add_1
# g = gmaps_key.geocode(add_1)

# lat = g[0]["geometry"]["location"]["lat"]
# long = g[0]["geometry"]["location"]["lng"]
# print('Latitude: '+str(lat)+', Longitude: '+str(long))

'Deen Dayal Nagar, Sagar '

In [ ]:
addresses = df['Address'].tolist()

In [ ]:
for address in addresses:
  add_1 = address
  g = gmaps_key.geocode(add_1)

  lat = g[0]["geometry"]["location"]["lat"]
  long = g[0]["geometry"]["location"]["lng"]
  print('Latitude: '+str(lat)+', Longitude: '+str(long))

Latitude: 16.5045615, Longitude: 80.5235168
Latitude: 16.9955344, Longitude: 81.777335
Latitude: 13.6807357, Longitude: 79.3508975
Latitude: 16.5064045, Longitude: 80.6320387
Latitude: 17.6868159, Longitude: 83.2184815
Latitude: 27.1086309, Longitude: 93.69839789999999
Latitude: 26.1795873, Longitude: 91.78431499999999
Latitude: 26.1859679, Longitude: 91.7453642
Latitude: 26.1475707, Longitude: 87.45668169999999
Latitude: 25.5626095, Longitude: 84.663264
Latitude: 24.7548649, Longitude: 84.3680054
Latitude: 25.4445116, Longitude: 86.1399615
Latitude: 26.8040197, Longitude: 84.5104212
Latitude: 25.2610043, Longitude: 87.0086927
Latitude: 25.2506776, Longitude: 86.9897915
Latitude: 25.2033713, Longitude: 85.5142297
Latitude: 25.5580341, Longitude: 83.9499487
Latitude: 25.7827064, Longitude: 84.7459203
Latitude: 26.1514392, Longitude: 85.8934836
Latitude: 24.7910392, Longitude: 85.00636399999999
Latitude: 24.7625227, Longitude: 84.9804538
Latitude: 24.7953413, Longitude: 84.98825479999999
Latitude: 25.6927811, Longitude: 85.24011639999999
Latitude: 25.5626421, Longitude: 87.5628552
Latitude: 26.0880835, Longitude: 87.9383428
Latitude: 26.5638594, Longitude: 84.60735369999999
Latitude: 26.631984, Longitude: 84.9010818
Latitude: 25.3766685, Longitude: 86.47141289999999
Latitude: 26.1235085, Longitude: 85.3812437
Latitude: 26.1166997, Longitude: 85.39950309999999
Latitude: 26.141335, Longitude: 85.3654296
Latitude: 25.6107873, Longitude: 85.131507
Latitude: 25.6194928, Longitude: 85.14663999999999
Latitude: 25.6074609, Longitude: 85.08456749999999
Latitude: 25.603603, Longitude: 85.1119721
Latitude: 25.5856237, Longitude: 85.04429929999999
Latitude: 25.5932705, Longitude: 85.2272332
Latitude: 25.766642, Longitude: 87.46658839999999
Latitude: 25.0281986, Longitude: 85.420791
Latitude: 25.8979684, Longitude: 86.5880148
Latitude: 25.8596222, Longitude: 85.77931889999999
Latitude: 24.951303, Longitude: 84.0021995
Latitude: 26.2298955, Longitude: 84.3561766
Latitude: 30.7512305, Longitude: 76.7583714
Latitude: 30.7320385, Longitude: 76.77263339999999
Latitude: 30.7163083, Longitude: 76.7284448
Latitude: 21.1786446, Longitude: 81.3426916
Latitude: 22.097191, Longitude: 82.1293881
Latitude: 28.7972263, Longitude: 77.13313629999999
Latitude: 28.651027, Longitude: 77.1562196
Latitude: 28.6826275, Longitude: 77.3049532
Latitude: 28.6100216, Longitude: 77.0379647
Latitude: 28.7499867, Longitude: 77.1183137
Latitude: 28.62839, Longitude: 77.24118
Latitude: 28.5505827, Longitude: 77.214799
Latitude: 28.6341752, Longitude: 77.2004746
Latitude: 28.650218, Longitude: 77.30270589999999
Latitude: 28.5660075, Longitude: 77.1767435
Latitude: 28.6706933, Longitude: 77.12847649999999
Latitude: 28.4720443, Longitude: 77.1329417
Latitude: 28.5910626, Longitude: 77.2280791
Latitude: 28.687193, Longitude: 77.210336
Latitude: 28.728357, Longitude: 77.19746800000001
Latitude: 28.5517202, Longitude: 77.2750344
Latitude: 28.6376724, Longitude: 77.1571443
Latitude: 28.5550838, Longitude: 77.0844015
Latitude: 28.65617319999999, Longitude: 77.29474669999999
Latitude: 28.6909791, Longitude: 77.17652389999999
Latitude: 28.5833047, Longitude: 77.2333304
Latitude: 28.5706035, Longitude: 77.2505733
Latitude: 28.5720379, Longitude: 77.070837
Latitude: 28.4997268, Longitude: 77.2670954
Latitude: 28.6347308, Longitude: 77.30457109999999
Latitude: 28.7332472, Longitude: 77.2495891
Latitude: 28.7296171, Longitude: 77.16663129999999
Latitude: 28.73826769999999, Longitude: 77.0822151
Latitude: 28.6090126, Longitude: 76.9854526
Latitude: 28.6712458, Longitude: 77.3176541
Latitude: 28.612569, Longitude: 77.2367984
Latitude: 28.8548818, Longitude: 77.08921509999999
Latitude: 28.5357628, Longitude: 77.2764329
Latitude: 28.69754439999999, Longitude: 77.1604397
Latitude: 28.793229, Longitude: 77.0483355
Latitude: 28.5562223, Longitude: 77.2063073
Latitude: 28.6376724, Longitude: 77.1571443
Latitude: 28.6823144, Longitude: 77.034937
Latitude: 28.6505331, Longitude: 77.23033699999999
Latitude: 22.995165, Longitude: 72.604097
Latitude: 22.9691813, Longitude: 72.53820689999999
Latitude: 23.0213204, Longitude: 72.62392419999999
Latitude: 23.109098, Longitude: 72.5849179
Latitude: 23.0734262, Longitude: 72.626571
Latitude: 23.0418636, Longitude: 72.5635863
Latitude: 23.0407417, Longitude: 72.45642219999999
Latitude: 23.0277933, Longitude: 72.51888799999999
Latitude: 23.0189588, Longitude: 72.5811117
Latitude: 21.6143446, Longitude: 73.01155969999999
Latitude: 23.2150981, Longitude: 72.65427319999999
Latitude: 23.2446495, Longitude: 72.6873825
Latitude: 23.1586396, Longitude: 72.6831136
Latitude: 22.406643, Longitude: 73.0920622
Latitude: 20.3521472, Longitude: 72.91357339999999
Latitude: 22.9702828, Longitude: 72.6476393
Latitude: 30.3778718, Longitude: 76.7733263
Latitude: 28.6771177, Longitude: 76.9282948
Latitude: 28.6917027, Longitude: 77.2990554
Latitude: 28.8082043, Longitude: 76.1361016
Latitude: 28.5946828, Longitude: 76.2755277
Latitude: 28.2056606, Longitude: 76.7914639
Latitude: 28.4060902, Longitude: 77.3184825
Latitude: 28.3922002, Longitude: 77.301675
Latitude: 28.3704165, Longitude: 77.3220128
Latitude: 28.4425186, Longitude: 77.3223915
Latitude: 29.5030525, Longitude: 75.4737974
Latitude: 28.4501238, Longitude: 77.02849379999999
Latitude: 28.4235473, Longitude: 77.1489412
Latitude: 28.4320397, Longitude: 77.0686159
Latitude: 28.4275348, Longitude: 77.14645829999999
Latitude: 29.1405535, Longitude: 75.7396802
Latitude: 29.3069655, Longitude: 76.3478097
Latitude: 29.8029465, Longitude: 76.41436639999999
Latitude: 29.6955341, Longitude: 76.9995868
Latitude: 29.9692794, Longitude: 76.8735374
Latitude: 27.8966318, Longitude: 76.99166749999999
Latitude: 28.3654839, Longitude: 76.9369384
Latitude: 28.0636597, Longitude: 76.1116997
Latitude: 28.1482612, Longitude: 77.33316040000001
Latitude: 30.706579, Longitude: 76.8545201
Latitude: 29.4362833, Longitude: 76.9772675
Latitude: 28.8768269, Longitude: 76.62110799999999
Latitude: 29.5363692, Longitude: 75.01584299999999
Latitude: 29.0315896, Longitude: 77.0723807
Latitude: 30.1501492, Longitude: 77.2850239
Latitude: 30.9395251, Longitude: 76.80400209999999
Latitude: 34.0661987, Longitude: 74.8287807
Latitude: 23.7082799, Longitude: 86.4127228
Latitude: 16.1756049, Longitude: 75.6586295
Latitude: 12.9715987, Longitude: 77.5945627
Latitude: 12.9758403, Longitude: 77.5657561
Latitude: 12.9347821, Longitude: 77.69041279999999
Latitude: 13.0285133, Longitude: 77.5196763
Latitude: 12.9165757, Longitude: 77.6101163
Latitude: 12.95678, Longitude: 77.53972929999999
Latitude: 12.9177099, Longitude: 77.62378629999999
Latitude: 13.0353557, Longitude: 77.59878739999999
Latitude: 12.9375448, Longitude: 77.5948946
Latitude: 12.920789, Longitude: 77.5841502
Latitude: 17.93357, Longitude: 77.4788014
Latitude: 11.9261471, Longitude: 76.9437312
Latitude: 13.4290654, Longitude: 77.73304739999999
Latitude: 13.3230247, Longitude: 75.7967371
Latitude: 14.4758107, Longitude: 75.90712719999999
Latitude: 15.4195912, Longitude: 75.6397204
Latitude: 13.0123203, Longitude: 76.13344490000001
Latitude: 14.7933682, Longitude: 75.3922237
Latitude: 15.3547598, Longitude: 75.1384848
Latitude: 17.3203897, Longitude: 76.8194767
Latitude: 13.1332532, Longitude: 78.1721958
Latitude: 15.3500492, Longitude: 76.1646475
Latitude: 12.4152774, Longitude: 75.74587079999999
Latitude: 12.8804608, Longitude: 74.85915779999999
Latitude: 12.3500813, Longitude: 76.6209903
Latitude: 16.2108191, Longitude: 77.34823519999999
Latitude: 12.7208614, Longitude: 77.27989629999999
Latitude: 13.945395, Longitude: 75.5538712
Latitude: 13.3368614, Longitude: 74.7395159
Latitude: 16.8028639, Longitude: 75.726973
Latitude: 16.7625516, Longitude: 77.1442251
Latitude: 10.0737878, Longitude: 76.3014896
Latitude: 9.988280099999999, Longitude: 76.28121949999999
Latitude: 11.8701516, Longitude: 75.36905949999999
Latitude: 9.968199, Longitude: 76.3182346
Latitude: 8.878704899999999, Longitude: 76.6073332
Latitude: 11.2488252, Longitude: 75.78389949999999
Latitude: 8.5140567, Longitude: 76.9477422
Latitude: 8.5678435, Longitude: 76.8908318
Latitude: 10.5276416, Longitude: 76.2144349
Latitude: 23.2357524, Longitude: 77.39864709999999
Latitude: 23.8184923, Longitude: 79.4338188
Latitude: 22.9687824, Longitude: 76.0635763
Latitude: 26.2035227, Longitude: 78.1920664
Latitude: 26.2103607, Longitude: 78.16926889999999
Latitude: 22.7152096, Longitude: 75.8700466
Latitude: 23.1670639, Longitude: 79.9339608
Latitude: 23.8327424, Longitude: 80.3978186
Latitude: 24.2609738, Longitude: 80.71866969999999
Latitude: 23.0992796, Longitude: 77.5114731
Latitude: 22.611121, Longitude: 75.6772689
Latitude: 23.3312468, Longitude: 75.0432032
Latitude: 24.5798734, Longitude: 80.8557684
Latitude: 24.1079747, Longitude: 82.6454746
Latitude: 23.1827177, Longitude: 75.7682178
Latitude: 19.8406027, Longitude: 75.2466299
Latitude: 19.9615398, Longitude: 79.2961468
Latitude: 19.9756764, Longitude: 79.24229559999999
Latitude: 19.2592249, Longitude: 73.12792689999999
Latitude: 19.0595596, Longitude: 72.8295287
Latitude: 19.0974373, Longitude: 72.8745017
Latitude: 19.1175993, Longitude: 72.9059747
Latitude: 19.3664631, Longitude: 72.8155136
Latitude: 19.1071283, Longitude: 72.8367535
Latitude: 19.0726295, Longitude: 72.8844721
Latitude: 18.9986406, Longitude: 72.8173599
Latitude: 19.2297814, Longitude: 72.86085589999999
Latitude: 19.0390214, Longitude: 72.86189519999999
Latitude: 18.9067031, Longitude: 72.8147123
Latitude: 18.9644251, Longitude: 72.8421341
Latitude: 19.0687893, Longitude: 72.87026469999999
Latitude: 19.0447048, Longitude: 72.9102511
Latitude: 19.1889541, Longitude: 72.835543
Latitude: 18.8979567, Longitude: 72.81314320000001
Latitude: 19.1097712, Longitude: 72.8582672
Latitude: 19.1599078, Longitude: 72.9239095
Latitude: 19.2004765, Longitude: 72.8736892
Latitude: 19.1725542, Longitude: 72.942537
Latitude: 18.9978358, Longitude: 72.81388179999999
Latitude: 21.153277, Longitude: 79.069518
Latitude: 20.0168226, Longitude: 73.735682
Latitude: 19.159014, Longitude: 72.9985686
Latitude: 19.0338457, Longitude: 73.0195871
Latitude: 19.1182937, Longitude: 73.0275875
Latitude: 19.0280168, Longitude: 73.0265071
Latitude: 18.5033095, Longitude: 73.8197888
Latitude: 18.6320627, Longitude: 73.84679779999999
Latitude: 18.5734634, Longitude: 73.9109977
Latitude: 18.5282786, Longitude: 73.8470523
Latitude: 18.6642824, Longitude: 73.7639658
Latitude: 18.6782865, Longitude: 73.89503359999999
Latitude: 18.508934, Longitude: 73.92591019999999
Latitude: 18.5177542, Longitude: 73.81488259999999
Latitude: 17.6599188, Longitude: 75.9063906
Latitude: 19.2183307, Longitude: 72.9780897
Latitude: 25.5585941, Longitude: 91.89848649999999
Latitude: 23.7173952, Longitude: 92.7181174
Latitude: 25.6607755, Longitude: 94.1025293
Latitude: 21.8546923, Longitude: 83.92479949999999
Latitude: 20.9501027, Longitude: 85.216816
Latitude: 11.9306033, Longitude: 79.8027077
Latitude: 31.61998029999999, Longitude: 74.8764849
Latitude: 30.2420588, Longitude: 74.9175889
Latitude: 31.3208006, Longitude: 75.5793401
Latitude: 30.7420958, Longitude: 76.2030061
Latitude: 30.9041, Longitude: 75.8065531
Latitude: 30.6510104, Longitude: 76.32925200000001
Latitude: 30.3448377, Longitude: 76.3708347
Latitude: 31.0293638, Longitude: 76.5733862
Latitude: 26.4726871, Longitude: 74.6415071
Latitude: 27.5515817, Longitude: 76.6080554
Latitude: 28.2070892, Longitude: 76.857682
Latitude: 26.9503102, Longitude: 75.8009833
Latitude: 26.9018769, Longitude: 75.8271749
Latitude: 26.9163897, Longitude: 75.8017169
Latitude: 26.2918067, Longitude: 73.0366998
Latitude: 25.136387, Longitude: 75.8246657
Latitude: 25.7731026, Longitude: 73.3502377
Latitude: 24.5886328, Longitude: 73.70218009999999
Latitude: 27.3313512, Longitude: 88.6138113
Latitude: 13.1779289, Longitude: 80.2700737
Latitude: 12.9815179, Longitude: 80.2179755
Latitude: 12.9967867, Longitude: 80.1911473
Latitude: 13.1779289, Longitude: 80.2700737
Latitude: 13.1374551, Longitude: 80.2478495
Latitude: 13.1137008, Longitude: 80.2954115
Latitude: 13.0724233, Longitude: 80.2101773
Latitude: 12.9653652, Longitude: 80.2461057
Latitude: 10.9438095, Longitude: 76.9772675
Latitude: 13.4092677, Longitude: 80.1009796
Latitude: 8.8139002, Longitude: 78.0867474
Latitude: 17.456737, Longitude: 78.32638759999999
Latitude: 17.5110595, Longitude: 78.27519389999999
Latitude: 17.5432727, Longitude: 78.3514088
Latitude: 17.5324702, Longitude: 78.1849427
Latitude: 17.350678, Longitude: 78.4513068
Latitude: 17.4562544, Longitude: 78.4439295
Latitude: 23.8635079, Longitude: 91.29030739999999
Latitude: 23.8219021, Longitude: 91.27567400000001
Latitude: 27.1986569, Longitude: 78.0059814
Latitude: 27.2344638, Longitude: 78.0266735
Latitude: 27.1997026, Longitude: 77.9639624
Latitude: 27.20397, Longitude: 77.9253155
Latitude: 27.1092929, Longitude: 78.0024134
Latitude: 27.1747896, Longitude: 78.0251692
Latitude: 28.9427827, Longitude: 77.22760699999999
Latitude: 28.9427827, Longitude: 77.22760699999999
Latitude: 28.4088401, Longitude: 77.8295809
Latitude: 27.1679708, Longitude: 78.3751147
Latitude: 27.1640151, Longitude: 78.3913328
Latitude: 28.6540194, Longitude: 77.355102
Latitude: 28.6460176, Longitude: 77.3695166
Latitude: 28.6939957, Longitude: 77.4549679
Latitude: 26.7314295, Longitude: 83.4331276
Latitude: 28.478481, Longitude: 77.4814103
Latitude: 28.5508777, Longitude: 77.47088509999999
Latitude: 28.7222506, Longitude: 77.7537913
Latitude: 25.4504122, Longitude: 78.594297
Latitude: 26.4715909, Longitude: 80.3237548
Latitude: 26.449923, Longitude: 80.3318736
Latitude: 26.5068262, Longitude: 80.251966
Latitude: 26.4284187, Longitude: 80.3282175
Latitude: 28.7333526, Longitude: 77.2986264
Latitude: 26.8332171, Longitude: 80.8965834
Latitude: 26.8466937, Longitude: 80.94616599999999
Latitude: 26.8459624, Longitude: 80.9415089
Latitude: 26.8669313, Longitude: 80.94980149999999
Latitude: 26.8496217, Longitude: 81.0072193
Latitude: 26.7674267, Longitude: 80.9235387
Latitude: 26.891225, Longitude: 80.9722901
Latitude: 28.9579131, Longitude: 77.75951309999999
Latitude: 29.0009035, Longitude: 77.7599208
Latitude: 29.0641002, Longitude: 77.7151616
Latitude: 28.8253591, Longitude: 78.7830383
Latitude: 28.8853105, Longitude: 78.7387581
Latitude: 28.8320769, Longitude: 78.7221251
Latitude: 28.8552539, Longitude: 78.7709978
Latitude: 28.8412553, Longitude: 78.6966886
Latitude: 29.4676905, Longitude: 77.7115687
Latitude: 28.627981, Longitude: 77.3648567
Latitude: 28.5437925, Longitude: 77.3310067
Latitude: 28.5900173, Longitude: 77.3116215
Latitude: 28.567225, Longitude: 77.3970354
Latitude: 25.4290183, Longitude: 81.9139692
Latitude: 25.4934118, Longitude: 81.8627391
Latitude: 25.4491339, Longitude: 81.8273517
Latitude: 25.3476918, Longitude: 82.9808861
Latitude: 25.2677203, Longitude: 82.99125819999999
Latitude: 25.3016276, Longitude: 82.9962631
Latitude: 25.325495, Longitude: 82.9951758
Latitude: 27.574142, Longitude: 77.6540776
Latitude: 23.6871984, Longitude: 86.9461361
Latitude: 23.5404375, Longitude: 87.2914219
Latitude: 22.0627164, Longitude: 88.0832934
Latitude: 22.6114858, Longitude: 88.35401449999999
Latitude: 22.5707053, Longitude: 88.3008448
Latitude: 22.6263806, Longitude: 88.3555025
Latitude: 22.5895322, Longitude: 88.3558259
Latitude: 22.5448082, Longitude: 88.3425578
Latitude: 22.5546875, Longitude: 88.33607649999999
Latitude: 22.4954988, Longitude: 88.3709008
Latitude: 22.5121451, Longitude: 88.3636952
Latitude: 22.5280352, Longitude: 88.36590830000002
Latitude: 22.5796842, Longitude: 88.414312
Latitude: 26.6922399, Longitude: 88.41581409999999

In [ ]:
# geocode the entire dataframe:

def geocode(add):
    g = gmaps_key.geocode(add)
    lat = g[0]["geometry"]["location"]["lat"]
    lng = g[0]["geometry"]["location"]["lng"]
    return (lat, lng)

df['geocoded'] = df['Address'].apply(geocode)

In [ ]:
df.head()

                                   Address                  geocoded
0                   Secretariat, Amaravati  (16.5045615, 80.5235168)
1  Anand Kala Kshetram, Rajamahendravaram    (16.9955344, 81.777335)
2                      Tirumala, Tirupati   (13.6807357, 79.3508975)
3                 PWD Grounds, Vijayawada   (16.5064045, 80.6320387)
4           GVM Corporation, Visakhapatnam  (17.6868159, 83.2184815)

In [ ]:
# geocode the entire dataframe:

def geocode(add):
    g = gmaps_key.geocode(add)
    lat = g[0]["geometry"]["location"]["lat"]
    lng = g[0]["geometry"]["location"]["lng"]
    return (lat)

df['lattitude'] = df['Address'].apply(geocode)

In [ ]:
df.head()

,Address,geocoded,lattitude
0,"Secretariat, Amaravati","(16.5045615, 80.5235168)",16.504562
1,"Anand Kala Kshetram, Rajamahendravaram","(16.9955344, 81.777335)",16.995534
2,"Tirumala, Tirupati","(13.6807357, 79.3508975)",13.680736
3,"PWD Grounds, Vijayawada","(16.5064045, 80.6320387)",16.506404
4,"GVM Corporation, Visakhapatnam","(17.6868159, 83.2184815)",17.686816

In [ ]:
# geocode the entire dataframe:

def geocode(add):
    g = gmaps_key.geocode(add)
    lat = g[0]["geometry"]["location"]["lat"]
    lng = g[0]["geometry"]["location"]["lng"]
    return (lng)

df['longitude'] = df['Address'].apply(geocode)

In [ ]:
df.head()

,Address,geocoded,lattitude,longitude
0,"Secretariat, Amaravati","(16.5045615, 80.5235168)",16.504562,80.523517
1,"Anand Kala Kshetram, Rajamahendravaram","(16.9955344, 81.777335)",16.995534,81.777335
2,"Tirumala, Tirupati","(13.6807357, 79.3508975)",13.680736,79.350898
3,"PWD Grounds, Vijayawada","(16.5064045, 80.6320387)",16.506404,80.632039
4,"GVM Corporation, Visakhapatnam","(17.6868159, 83.2184815)",17.686816,83.218481

In [ ]:
df.to_csv("with_lat_long.csv")